@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Authentication Using Azure Active Directory</h1>
    <p class="lead">This Web Application is created using .NET Framework to demo, how to use Azure AD to for authentication. </p>
    <p class="lead">View Product call get products form the protected custom web API </p>
    
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        
    </div>
    
</div>